<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ModelForm-Registration</title>
    <style>
        .errorlist{
            color:red
        }
        .custom-error-css{
            color: blue;
            font-size: smaller;
        }
    </style>
</head>
<body>
    <form action="" method="post" novalidate>
        {% csrf_token %}
        <!-- {{ form.none_field_errors }}
        {{form.as_p}} -->
        
        {% for fields in form %}
        <div>
            {{ fields.label }} {{ fields }} <span class="custom-error-css">{{ fields.errors|striptags }}</span>
        </div>
        {% endfor %}
        <input type="submit" value="submit"/>
    </form>
</body>
</html>